[submodule "themes/landscape"]
	path = themes/landscape
	url = https://github.com/hexojs/hexo-theme-landscape.git
[submodule "themes/yun"]
	path = themes/yun
	url = https://github.com/yunyoujun/hexo-theme-yun.git